.fade-in-image {
  opacity: 0;
  animation: fadeIn 1.6s forwards;
}

.fade-in-card {
  opacity: 0;
  animation: fadeIn 1.6s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
